<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" type="text/css"  href="./bootstrap-4.3.1-dist/css/bootstrap.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    <h1>{{title}}</h1>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{!-- <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li> --}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              คู่ค้า
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/contractor">ข้อมูลลูกฟาร์มจากเจนซอฟท์</a>
              <a class="dropdown-item" href="/butcher">ข้อมูลคนซื้อหมู</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              อาหารสัตว์
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/feed/check">ข้อมูลอาหารสัตว์ที่รับมา</a>
              <a class="dropdown-item" href="/feed/map">Mouja feed table for mapping</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/feed/map/json">mapping table in JSON format </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              จับหมูขาย
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/ce/catch">ข้อมูลการจับหมูลูกฟาร์ม</a>
              <a class="dropdown-item" href="/ce/sell">ข้อมูลการชั่งหมูขาย</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Mouja data structure sending</a>
              <a class="dropdown-item disabled" href="/ce/qtest"> ทดสอบการติดต่อกับ MSSQL (ข้อมูลที่รับจากJSAC)</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              คลังข้อมูล
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">เวชภัณฑ์</a>
              <a class="dropdown-item" href="/liveStock">สุกร</a>
              <a class="dropdown-item" href="/ce/feedCost">ต้นทุนอาหารในการผลิต</a>
              <div class="dropdown-divider"></div>
              {{!-- <a class="dropdown-item" href="/ce/invRequest">ใบเบิกเวชภัณฑ์</a> --}}
              <a class="dropdown-item" href="/ce/sidekick">ช่วยในการป้อนข้อมูล</a>
            </div>
          </li>
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> --}}
      </div>
    </nav>

  </div>